<title>Find common integers</title>
  <h3>This application finds and lists the common integers between 3 arrays</h3>
    Result is {{result}}<br>

    Please enter integers <b>seperated with enter</b> to the boxes below 
  <form action="compute" method="post">
        <p>Array1  Array2  Array3</p>
        <textarea name="input1" rows="10" cols="5"></textarea>
        <textarea name="input2" rows="10" cols="5"></textarea>
        <textarea name="input3" rows="10" cols="5"></textarea><br>
        <input type="submit" value="Find common elements">
  </form>